/* Empty. Add your own CSS if you like */
.POPUP-INPUT{
    width:15% ! important;
    display: inline ! important;
    
}

.POPUP-CENTER {
    width: 20%;
    left: 10%;
}

toggle-off-balanced {
    
}